<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Snake with JS</title>
  <meta name="description" content="Snake">
  <meta name="author" content="MarkHalstead">
  <link type="text/css" rel="stylesheet" href="/styles/style.css">

</head>
<body>
  <div id="game-box">
    <div class="title">
      SNEK
    </div>
</div>



<div class="form-container">
  <div class="displayMessage"><%= displayMessage %></div>
  <form class="register-form" action="/register" method="post">
    <div class="name">
      <label for="username">Name</label>
      <input type="text" name="username" id="username" value="">
    </div>
    <!-- <div class="email">
      <label for="name">email</label>
      <input type="text" name="email" id="email" value="" required>
    </div> -->
    <div class="password">
      <label for="name">Password</label>
      <input type="text" name="password" id="password" value="" required>
    </div>
    <button type="submit" name="button">Register</button>
  </form>
  <a href="/login">Login</a>
</div>

</body>
</html>
